.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.faq-box{
  background-color: #ffe3b3;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  color: aliceblue;
  text-align: left;
}

.que{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;

}

button{
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  color: #ffc872;
}

button.arrow {
  transform: rotate(90deg);
}

.ans {
  margin: 15px 0 5px 50 px;
  color: black;
}